@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 216 44% 36%; /* #345586 */
    --primary-foreground: 216 52% 54%; /* #4B7CC6 */

    --secondary: 0 0% 22%; /* #383838 */
    --secondary-foreground: 0 0% 85%; /* #D9D9D9 */

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* --destructive: 0 84.2% 60.2%; */
    --destructive: 360 91% 71%; /* red-400 #f87171 */
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* MINE */
    --space-inset: 16px;
    --height-nav: 90px;

    @media (min-width: 768px) {
      --space-inset: 32px;
      --height-nav: 126px;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  
  * {
    @apply border-border;
  }
  ::selection {
    @apply bg-foreground text-background;
  }
  body {
    @apply antialiased;
    @apply text-large;
    @apply font-sans font-normal leading-[calc(24/17)] tracking-[0];
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .link {
    @apply relative;
    @apply font-bold;
    @apply underline underline-offset-[0.25em];
    @apply decoration-current decoration-[0.025em];
  }
  /* https://codepen.io/jstn/pen/mdoOZJ */
  .link-animated {
    @apply relative inline-block;
  }
  .link-animated:after {
    @apply absolute left-1/2 -bottom-2;
    @apply block bg-current h-[2px] w-0;
    @apply bg-current;
    content: "";
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }
  .link-animated:hover:after {
    @apply left-0 w-full;
  }
  .hr-vertical {
    /* height required when used within a flex parent */
    @apply w-px h-em border-l;
  }
  .prose-large {
    @apply text-lead;
  }
  .prose-large h2 {
    @apply text-large;
  }
}
